#about-us {
  background-image: url(../../../public/img/about-bg.jpg);
  padding: 50px 0;
}

#about-us h2 {
  margin-top: 0;
  color: #fff;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}

.about-info{
  margin-bottom: 50px;
}